
.triggered { 
    background-color: rgb(240, 173, 78);
}
.errored {
    background-color: rgb(217, 83, 79);
}
.paused {
    background-color: rgb(203, 203, 203);
}
.normal {
    background-color: rgb(92, 184, 92);
}
.loading {
    background-color: rgb(240, 240, 240);
}
.notApplicable {
    background-color: rgb(119, 119, 119);
}